button {
    background-color: pink;
    margin-right: .5em;
    margin-bottom: .5em
}

img {
    max-width: 200px;
    height: auto;
    border: 2px solid blue;
    display: inline-block;
}

.gifDiv {
    width: 300px;
    background-color: purple;
    text-align: center;
}